.sidebar {
  width: 60%;
  height: 100%; 
  padding: 16px 0; 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background-color: #600000;
  color: white;
  overflow-y: auto;
  scrollbar-width: none;
}
.sidebar::-webkit-scrollbar {
  display: none;
}
.al-margin{
  margin-top:20px;
}
.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  width: 64px;
  height: 20px;
  transition: transform 0.3s ;
}

.menu-btn:hover {
  transform: scale(1.1);

}

.sidebar.open {
  display: flex;
  width: 165px; 
  align-items: baseline;
  }

/* .text-visible {
  margin-left: 10px; 
}   */

.menu-text{
    margin-left:5px;
}

.btn {
    display: flex;
    margin-left: 5%;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    width: 165px;
    padding: 10px;
    font-size: large;
    transition: transform 0.3s ;
}

.btn:hover:not(.selected) {
  width: 165px;
  
  transform: scale(1.1);
}


.selected {
    background-color:white; 
    color: #172626;

}


.toggle-margin{
  margin-bottom: 30%;
}

.logout-margin{
  margin-top: 60%;
}

.closed-logout-margin{
  margin-top: 190%;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

  