/* Tooltip container */
  
  /* Tooltip text */
  .tooltiptext {
  
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  
    /* Position the tooltip text - see examples below! */
    position: absolute;
    
    
    z-index: 1;
  }
  .tooltip .tooltiptext::after {
    content: " ";
    
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    border-width: 5px;
    margin-left: -5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  
  }
  
  .tooltip{
    max-width: 200px;
  }

  /* Show the tooltip text when you mouse over the tooltip container */
.tooltiptext {
    
    visibility: visible;
    
  }